<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'Profile')}">

<body>
    <div class="container-lg">
        <h1>Index page!</h1>
        <p>Here starts everything...</p>

        <div class="container mt-5 shadow-sm border rounded-2 p-4">
            <h3>Categories</h3>

            <div class="row justify-content-center mt-4">
                <a th:each="category : ${categoryList}" th:href="@{__(${'/products?category=' + category.orderId})__}"
                   class="p-2 mx-2 col-2  text-black text-decoration-none position-relative">
                    <div class="d-flex hover-dark m-auto justify-content-center align-items-center mb-2" style="width: 7rem; height: 7rem">
                        <img style="max-width:6.8rem; max-height: 6.8rem" src="/images/test-img.png" alt="photo.png">
                    </div>
                    <h6 class="text-center" th:text="${category.name}">Name</h6>
                </a>
            </div>
        </div>
    </div>
</body>

</html>