<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (body=~{::body}, script=~{::script}, title='Orders')}">

<body>
    <div class="container-lg">
        <h1>Your orders</h1>
        <hr/>

        <div class="mt-5 xd">

            <ul class="shadow rounded-2 my-5 p-0" th:each="order : ${orderList}">

                <li class="list-group-item d-flex flex-row availableProduct-in-cart bg-primary bg-opacity-10 hover-dark d-flex
                        justify-content-center">
                    <a class="stretched-link" th:href="@{__(${'/orders/' + order.id})__}"></a>

                    <h4 class="my-auto mx-5" th:text="${'Order #' + order.id}">Order id</h4>

                    <div class="col d-flex flex-column align-items-center justify-content-center my-3">
                        <h6 class="mt-0">Order placed on:</h6>
                        <p class="mb-0" th:text="${{order.dateTime}}"></p>
                    </div>
                </li>

                <li class="list-group-item d-flex flex-row availableProduct-in-cart hover-dark" th:each="soldProduct : ${order.soldProductsList}">
                    <a class="stretched-link availableProduct-link" th:href="@{__(${'/products/' + soldProduct.product.id})__}"></a>
                    <div class="col d-flex align-items-center justify-content-center" style="min-height: 12rem; min-width: 12rem; max-height: 12rem; max-width: 12rem;">
                        <img src="/images/test-img2.png" alt="image.png" style="max-height: 10rem; max-width: 10rem;"
                             th:src="${ soldProduct.product.image != null ? ('/images/products/' +
                     soldProduct.product.image) : '/images/no-img.png' }" >
                    </div>

                    <div class="col card-body">
                        <h4 class="card-title" th:text="${soldProduct.product.name}">Product name</h4>
                        <h4 class="display-6 availableProduct-in-cart-price" th:text="${soldProduct.product.price + ' $'}">Price</h4>
                    </div>

                    <div class="col-2 d-flex align-items-center justify-content-center">
                        <p class="fs-4 bold me-3 availableProduct-in-cart-quantity" th:text="${soldProduct.quantity}"></p>
                    </div>

                    <div class="col-3 d-flex align-items-center justify-content-center flex-column">
                        <p class="fs-5 bold me-3">Seller</p>
                        <a class="me-3 z-top-1 text-decoration-none" th:text="${soldProduct.product.seller.credentials.username}"
                           th:href="@{__${'/sellers/' + soldProduct.product.seller.id}__}"></a>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</body>

<script>

</script>

</html>