<!DOCTYPE html>
<html lang="en" th:replace="~{ fragments/layout :: layout (body=~{::body}, script=~{::script}, title='Your products') }">

<body>
  <div class="container-lg">

    <h1 th:text="#{profile.your-products.title}">Your products</h1>
    <hr/>

    <div class="card d-flex flex-row shadow-sm hover-dark m-1" th:each="availableProduct : ${productPage.content}"
      th:with="product = ${availableProduct.product}">
      <a class="stretched-link" th:href="@{__(${'/products/' + product.id})__}"></a>
      <div class="d-flex align-items-center justify-content-center" style="height: 12rem; width: 12rem;">
        <img src="/images/test-img2.png" alt="image.png" style="max-height: 10rem; max-width: 10rem;"
             th:src="${ product.image != null ? ('/images/products/' + product.image) : '/images/no-img.png' }" >
      </div>

      <div class="card-body">
        <h4 class="card-title" th:text="${product.name}">Product name</h4>
        <h4 class="display-6" th:text="${product.price + ' $'}">Price</h4>
      </div>

      <div class="float-end d-flex align-items-center me-5 z-top-1">
        <a th:href="@{__(${'/products/edit/' + product.id})__}" class="btn btn-primary me-3" th:text="#{manage.product.edit-product}">Edit</a>
        <button class="btn btn-danger delete-product-btn"> <i class="fa fa-trash"></i> </button>
      </div>

    </div>

    <div th:if="${productPage.hasContent()}" class="col-2 d-flex align-items-center mx-auto my-3" id="page-change-div">
      <i class="fa fa-less-than me-3"></i>
      <input class="w-25 me-2" type="text" th:value="${param.pageNr ?: 1}">
      <p class="my-auto ms-1 me-3" th:text="${#messages.msg('products.of') + ' ' + productPage.totalPages}"></p>

      <i class="fa fa-greater-than"></i>
    </div>

  </div>
</body>

<script>
  $(document).ready( function() {
    initDeleteButtons();
    initPageChangeDiv();
  })

  function initDeleteButtons() {
    let buttons = $(".delete-product-btn");

    for (let button of buttons) {
      let urlEdit = button.parentNode.children[0].getAttribute("href");
      let urlDelete = urlEdit.replace("edit", "delete")

      console.log(urlDelete);

      button.onclick = () => {
        requestAndToast('DELETE', urlDelete );
        button.parentNode.parentNode.remove();
      }
    }
  }

</script>

</html>