<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (body=~{::body}, script=~{::script}, title='Sold products')}">

<body>
  <div class="container-lg">
    <h1>Sold products</h1>
    <hr/>

    <div class="mt-5">

      <ul class="shadow rounded-2 my-5 p-0" th:each="order : ${orderList}">

        <li class="list-group-item d-flex flex-row product-in-cart bg-primary bg-opacity-10">
          <div class="col d-flex flex-column align-items-center justify-content-center">
            <h6>Order placed on:</h6>
            <p th:text="${{order.dateTime}}"></p>

            <h6>Customer:</h6>
            <a th:text="${order.buyer.credentials.username}" th:href="@{'/sellers/' + ${order.buyer.id}}"></a>
          </div>

          <div class="col-6 row pt-3 offset-1">
            <h3>Address</h3>

            <div class="d-flex align-items-end mt-3">
              <div class="col">
                <h6>Address line 1</h6>
                <p th:text="${order.address.addressLine1}"></p>

                <h6>Address line 2</h6>
                <p th:text="${order.address.addressLine2}"></p>
              </div>

              <div class="col">
                <h6>City</h6>
                <p th:text="${order.address.city}"></p>

                <h6>State</h6>
                <p th:text="${order.address.state}"></p>
              </div>

              <div class="col">
                <h6>Postal code</h6>
                <p th:text="${order.address.postalCode}"></p>

                <h6>Country</h6>
                <p th:text="${order.address.country}"></p>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item d-flex flex-row product-in-cart hover-dark" th:each="soldProduct : ${order.soldProductsList}">
          <a class="stretched-link product-link" th:href="@{__(${'/products/' + soldProduct.product.id})__}"></a>
          <div class="col d-flex align-items-center justify-content-center" style="min-height: 12rem; min-width: 12rem; max-height: 12rem; max-width: 12rem;">
            <img src="/images/test-img2.png" alt="image.png" style="max-height: 10rem; max-width: 10rem;"
                 th:src="${ soldProduct.product.image != null ? ('/images/products/' +
                     soldProduct.product.image) : '/images/no-img.png' }" >
          </div>

          <div class="col card-body">
            <h4 class="card-title" th:text="${soldProduct.product.name}">Product name</h4>
            <h4 class="display-6 product-in-cart-price" th:text="${soldProduct.product.price + ' $'}">Price</h4>
          </div>

          <div class="col-2 d-flex align-items-center justify-content-center">
            <p class="fs-4 bold me-3 product-in-cart-quantity" th:text="${soldProduct.quantity}"></p>
          </div>
        </li>

      </ul>

    </div>
  </div>
</body>

</html>