
#cart-badge {
    font-size: .6rem;
    position: relative;
    right: 0.5rem;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #418deb;
    border-radius: 50%;
}


.z-top-1 {
    z-index: 2;
}

.z-top-2 {
    z-index: 2;
}

.sticky-col-under-navbar{
    top: 6.6rem;
}


.message-right {
    color: white;
    background: #6dafff;
    align-self: end;
}

.message-left {
    border: 1px #daeaff solid;
    background: #f8fbff;
    align-self: start;
}

.hover-dark:hover:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 3%;
    cursor: pointer;
}


.message-lock-switch {
    display: none;
}

li:hover .message-lock-switch {
    display: block;
    cursor: pointer;
}

.message-lock-switch:hover {
    scale: 110%;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-opacity-5 {
    --bs-bg-opacity: 0.05;
}

.many-white-chars {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}


.selected-chat {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    border: 2px solid #418deb;
    z-index: -1;
}


#toast {
    transition: opacity 0.5s;
}

/*!**/
/*    HIDE SPINNER ON NUMBER INPUTS*/
/* *!*/
/*!* Chrome, Safari, Edge, Opera *!*/
/*input::-webkit-outer-spin-button,*/
/*input::-webkit-inner-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/
/*!* Firefox *!*/
/*input[type=number] {*/
/*    -moz-appearance: textfield;*/
/*}*/