<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (body=~{::body}, script=~{::script}, title='Cart')}">

<body>
    <div th:if="${justDeletedProducts}" class="col-8 offset-2 alert alert-danger mb-5">
        <h6 class="text-center m-0 px-3">One or more products have been removed from the cart due to their unavailability.</h6>
    </div>

    <div th:if="${cart.productList.size == 0}" class="container-lg">
        <p class="fs-3">Cart is empty.</p>
    </div>

    <div th:if="${cart.productList.size != 0}" class="container-lg d-flex flex-row" id="cart-content">

        <div class="container-md col-9">
            <ul class="list-group shadow-sm">
                <li class="list-group-item d-flex flex-row product-in-cart hover-dark" th:each="productInCart : ${cart.productList}">
                    <a class="stretched-link product-link" th:href="@{__(${'/products/' + productInCart.product.id})__}"></a>
                    <div class="d-flex align-items-center justify-content-center" style="height: 12rem; width: 12rem;">
                        <img src="/images/test-img2.png" alt="image.png" style="max-height: 10rem; max-width: 10rem;"
                             th:src="${ productInCart.product.image != null ? ('/images/products/' +
                             productInCart.product.image) : '/images/no-img.png' }" >
                    </div>

                    <div class="card-body">
                        <h4 class="card-title" th:text="${productInCart.product.name}">Product name</h4>
                        <h4 class="display-6 product-in-cart-price" th:text="${productInCart.product.price + ' $'}">Price</h4>
                    </div>

                    <div class="float-end d-flex align-items-center">
                        <input class="col-3 z-top-1 me-5 product-in-cart-quantity" type="number"
                               th:value="${productInCart.quantity}" min="1">

                        <button type="button" class="btn btn-danger py-2 px-3 z-top-1 remove-btn">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>



        <div class="col-3" style=" padding: 0 12px;">
            <div class="sticky-top col-3 shadow-sm border rounded-2 d-flex flex-column align-items-center justify-content-center sticky-col-under-navbar"
                 style="height: 13rem; width:100%;">
                <h2 class="">Total</h2>
                <h2 class="display-6" id="total-sum"></h2>

                <a class="btn btn-primary mt-2 col-6" th:href="@{/checkout}">Checkout</a>
            </div>
        </div>

    </div>
</body>

<script>

  $(document).ready( function() {
      calculateTotalSum()
      initDeleteButtonsAndChangeInputs();
      setRememberedProductsQuantityValues();
  })

    function setRememberedProductsQuantityValues() {

    }


  function initDeleteButtonsAndChangeInputs() {
      if ($('.product-in-cart').length == 0) {
          return;
      }

      let fullUrl = $('.product-link')[0].getAttribute('href');
      let defaultUrl = fullUrl.substring(0, fullUrl.substring(0, fullUrl.lastIndexOf('/')).lastIndexOf('/') );

      let removeButtons = $('.remove-btn');
      let changeInput = $('.product-in-cart-quantity');

      for (let i = 0; i < removeButtons.length; i++ ) {
          let btn = removeButtons[i];
          let input = changeInput[i];

          let aHref = btn.parentNode.parentNode.children[0].href;
          let id = aHref.substring(aHref.lastIndexOf('/') + 1);

          btn.onclick = function() {
              let url = defaultUrl + '/cart/delete/' + id;

              requestAndToast('DELETE', url)
                  .then(response => {
                      if (response.success) {
                          this.parentNode.parentNode.remove()
                          calculateTotalSum();
                          updateCartQuantity();

                          if ($('.remove-btn').length == 0) {
                              $('#cart-content')[0].innerHTML = '<p class="fs-3">Cart is empty.</p>'
                          }
                      }
                  });
          }

          input.onchange = function() {
              let quantity = input.value;
              let url = defaultUrl + '/cart/change/' + id + '?quantity=' + quantity;

              requestAndToast('PUT', url)
                  .then(response => {
                    if (response.result) {
                        calculateTotalSum();
                    }
                    else {
                        correctQuantity(input, response.message);
                    }

                    calculateTotalSum()
                });
          }

      }
  }

</script>

</html>