<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'Add category [ADMIN]')}">

<body>
    <div class="container justify-content-center"><br/>
        <h3 class="text-center">Add new category</h3>

        <form th:action="@{/admin/categories/new}" method="post" th:object="${category}">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>

            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}"/>

            <button class="btn">Add</button>
        </form>
    </div>
</body>

</html>