<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body}, 'Register')}">

<body>
  <div class="container-md">
    <h1>Register</h1>

    <form class="border shadow rounded-2 p-5 my-5" action="/register" method="post" th:object="${user}">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" th:field="*{email}">
      </div>


      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control mt-1 mb-3" type="text" id="username" th:min="6" th:max="20" th:field="*{username}">
      </div>


      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control mt-1 mb-3" type="password" id="password" th:min="8" th:max="50" th:field="*{password}">
      </div>

      <div class="form-group">
        <label for="first-name">First name</label>
        <input class="form-control mt-1 mb-3" type="text" id="first-name" th:min="2" th:max="30" th:field="*{firstName}">
      </div>

      <div class="form-group">
        <label for="last-name">Last name</label>
        <input class="form-control mt-1 mb-3" type="text" id="last-name" th:min="2" th:max="30" th:field="*{lastName}">
      </div>

      <div class="form-group">
        <label for="date-of-birth">Date of birth</label>
        <input class="form-control mt-1 mb-3" type="date" id="date-of-birth" th:field="*{dateOfBirth}">
      </div>

      <div class="form-group">
        <label for="phone-number">Phone number</label>
        <input class="form-control mt-1 mb-3" type="tel" id="phone-number" th:field="*{phoneNumber}">
      </div>

      <button class="btn btn-primary my-3" type="submit">Register</button>
    </form>
  </div>
</body>

</html>