<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (body=~{::body}, script=~{::script}, title=${'Archive - ' + product.name})}">

<body>

  <h1 class="w-100 bg-secondary text-white opacity-50 text-center mb-3" style="margin-top: -2rem;">Archive</h1>

  <div class="container-lg shadow-sm border">

    <div class="d-flex p-5">
      <div class=" col-3 d-flex align-items-center justify-content-center shadow-sm border rounded-2 me-5" style="height: 30rem; width: 30rem;">
        <img src="/images/test-img2.png" alt="image.png" style="max-height: 29rem; max-width: 29rem;"
             th:src="${ product.image != null ? ('/images/products/' + product.image) : '/images/no-img.png' }" >
      </div>


      <div class="col d-flex align-items-center ms-5 w-100">
        <div class="d-flex flex-column">
          <h1 class="display-1" th:text="${product.name}">Product name</h1>
          <h4 class="lead fs-3" th:text="${product.category.name}">Category name</h4>

        </div>
      </div>

    </div>

    <div class="container-md px-5 pb-5 ">
      <a class="text-decoration-none" th:text="${'Seller: ' + product.seller.credentials.username}"
         th:href="@{__(${'/sellers/' + product.seller.id})__}">Product description</a>
      <p class="fs-5 mt-4" th:utext="${product.getStructuredDescription()}">Product description</p>
    </div>

  </div>
</body>

<script>
  $(document).ready(function () {
    let addToCartButtons = $(".add-to-cart-btn");

    for ( let button of addToCartButtons ) {
      button.onclick = function () {

        let url = window.location.href;
        let lastSlashIndex = url.lastIndexOf('/');
        let quantity = button.parentElement.children[0].value;
        let urlAdd = url.substring(0, lastSlashIndex) + '/add' + url.substring(lastSlashIndex) + '?quantity=' + quantity;

        postData(urlAdd).then(data => {
          console.log(data);
          updateCartQuantity();
        });
      }
    }

  });
</script>

</html>