<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
  th:fragment="layout (body, title)" th:with="script=${script ?: 'no-script'}">
<head>
  <meta charset="UTF-8">
  <title th:text="${title + ' - eCommerce.pl'}">Title</title>
  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.css}"/>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm sticky-md-top navbar-dark bg-dark px-3 mb-5">
    <a class="navbar-brand" href="/">eCommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-check-inline" id="nav-search-form" action="/products" method="get">
        <div class="input-group" id="navbar-search-form">
          <input disabled type="hidden" name="category">
          <input type="hidden" name="search">
          <input class="form-control input-small" id="nav-search-input" type="text" placeholder="product..." th:value="${param.search ?: ''}">
          <button class="btn btn-info btn-dark"  id="nav-search-btn"><i class="fa fa-search"></i></button>
        </div>
      </form>
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link me-3" th:href="@{/products}">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link me-3" th:href="@{/products/create}"> <i class="fa fa-plus me-1"></i>Add product</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/messages}"> <i class="fa fa-envelope"></i> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" th:href="@{/cart}"> <i class="fa fa-cart-shopping ms-3"></i> </a>
        </li>

        <div class="d-flex align-items-center justify-content-center me-2" id="cart-badge"></div>

        <li class="nav-item">
          <a class="nav-link" id="nav-profile" th:text="${username ?: 'Log In' }"
             th:href="@{__(${username != null ? '/profile' : '/login' })__}">username</a>
        </li>

      </ul>
    </div>
  </nav>

    <div class="position-absolute top-0 end-0 my-5 py-4 me-3 col-4 col-lg-3 col-xxl-2 z-top-2" style="z-index: 2000">

      <div id="toast" role="status" aria-live="assertive" aria-atomic="true" style="opacity: 0;">
<!--        <div class="alert alert-success m-0 p-3 z-top-2">-->
        <div class="alert alert-success m-0 p-3">
          Toast body
        </div>
      </div>

    </div>



  <th:block th:replace="${body}" />


  <footer class="footer bg-dark mt-5">

  </footer>


  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script src="/js/script.js"></script>

  <th:block th:if="${script != 'no-script'}" >
    <th:block th:replace="${script}"></th:block>
  </th:block>

  <script>
    $(document).ready(function() {
      updateCartQuantity();
      initNavSearchForm();
    });

    function initNavSearchForm() {
      let searchForm = $('#nav-search-form')[0];

      let categoryFormParam = searchForm.children[0].children[0];
      let searchFormParam = searchForm.children[0].children[1];
      let formInput = searchForm.children[0].children[2];
      let formButton = searchForm.children[0].children[3];


      formButton.onclick = function() {
        searchFormParam.value = formInput.value;

        let categoryParam = new URL(location.href).searchParams.get('category');
        if (categoryParam) {
          categoryFormParam.value = categoryParam;
          categoryFormParam.disabled = false;
        }
      }
    }


  </script>
</body>
</html>