<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
  th:fragment="layout (template, title)">
<head>
  <meta charset="UTF-8">
  <title th:text="${title + ' - eCommerce.pl'}">Title</title>
  <link rel="stylesheet"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.css}"/>
<!--  <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.2/css/all.css}"/>-->
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
    <a class="navbar-brand" th:href="@{/}">eCommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-check-inline" id="nav-search-form" th:action="@{/products}" method="post">
        <div class="input-group">
          <input class="form-control input-small" id="nav-search-input" type="text" placeholder="product..." th:object="${query}"> <br>
          <button class="btn btn-info btn-dark" id="nav-search-button"><i class="fa fa-search"></i></button>
        </div>
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:text="${username ?: 'logIn' }" th:href="@{__(${username != null ? '/profile' : '/login' })__}">username</a>
        </li>
      </ul>
    </div>
    <i class="fa fa-pencil" title="Edit"></i>
  </nav>


  <th:block th:replace="${template}" />

  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script>
    $(document).ready(function() {
      $("#nav-search-button").click(function() {
        $("#nav-search-form").attr('action', $("#nav-search-form").attr('action') + '?search=' + $("#nav-search-input").val() );
      });
    });
  </script>
</body>
</html>