<!DOCTYPE html>
<html lang="en" th:replace="~{ fragments/layout :: layout (body=~{::body}, script=~{::script}, title=${title?:'Product'}) }">

<body>
  <div class="container-md">
    <div class="card d-flex flex-row shadow-sm hover-dark m-1" th:each="product : ${productList}">
      <a class="stretched-link" th:href="@{__(${'/products/' + product.id})__}"></a>
      <div class="d-flex align-items-center justify-content-center" style="height: 12rem; width: 12rem;">
        <img src="/images/test-img2.png" alt="image.png" style="max-height: 10rem; max-width: 10rem;"
             th:src="${ product.imageId != null ? ('/images/products/' + product.imageId) : '/images/test-img.png' }" >
      </div>

      <div class="card-body">
        <h4 class="card-title" th:text="${product.name}">Product name</h4>
        <h4 class="display-6" th:text="${product.price + ' $'}">Price</h4>
      </div>

      <div class="float-end d-flex align-items-center">
        <input class="col-3 z-top me-3" type="number" value="1">

        <button type="button" class="btn btn-primary py-2 z-top add-to-cart-btn">Dodaj do koszyka</button>
      </div>

    </div>
  </div>
</body>

<script>
  $(document).ready(function () {
    let addToCartButtons = $(".add-to-cart-btn");

    for ( let button of addToCartButtons ) {
      button.onclick = function () {

        let stretchedLink = button.parentElement.parentElement.children[0];
        let url = stretchedLink.getAttribute("href")
        let lastSlashIndex = url.lastIndexOf('/');
        let quantity = button.parentElement.children[0].value;
        let urlAdd = url.substring(0, lastSlashIndex) + '/add' + url.substring(lastSlashIndex) + '?quantity=' + quantity;

        postData(urlAdd).then(data => {
          console.log(data);
          updateCartQuantity();
        });
      }
    }

  });
</script>

</html>